body{
    font-family: 'Redressed', cursive;
    margin: 0%;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-size: cover;
   
    
}

p{
    color: dimgray;
}
section{

    height: 514px;
}


h1{
    
    font-size: 45px;
}

.firstspan{
    color: red;
}
.first {
    margin-left: 5%;
    padding-left: 3%;
    float: left;
    width: 38%;
    margin-top: 28px;
}
.first img{
    width: 100%;
}

.link{
    text-decoration: none;
    color: rgb(255, 251, 250);
    padding:7px 20px;
    background-image: linear-gradient(20deg, green, yellow);
    border-radius: 8px;
    font-weight: bold;
}
.second{
    float: left;
    width: 46%;
}

h2{
    font-weight: bold;
}


.second-part{
    background-image: url(images/second-part.png);
    margin-top: 60px;
    background-repeat: no-repeat;
    background-position: right;
}
.second img{
    width: 85%;
}


.third-part{
    margin:auto;
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
  
}
h2{
    font-weight: bold;
    text-align: center;
    border-style: dotted dashed solid double;
    border-radius: 20px;
}
#third{
    border-bottom: 3px solid red;
}
#third-one{
    border-bottom: 3px solid green;
}
h3{
    text-align: center;
    border-bottom:1px  dotted #ddd;
}
.third{
    color: tomato;
}
.fix-left {
    margin-top: -78px;
    margin-left: 37px;
    float: left;
    border-bottom: 1px outset #ddd;
}
.center{
    text-align: center;
}
.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.another-part{
    background-image: url(images/second-part.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.fotter-parat {
    background-image: url(images/pro5.png);
    margin-top: -86px;
}

.fotter{
    
    margin-left: 26px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
}
h6{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    
   
}
#last{
    border-left: 3px solid ;
    border-color: green;
    border-right: 3px solid red;

}

.last {
    width: 377px;
    padding: 13px;
    box-shadow: 9px 8px 40px tomato;
   
}
.copyrights{
    text-align:center;
}